[submodule "libwebp"]
  path = libwebp
  url = git@github.com:webmproject/libwebp.git
  branch = main
[submodule "libpng"]
  path = libpng
  url = git@github.com:pnggroup/libpng.git
  branch = master
[submodule "libjpeg"]
  path = libjpeg
  url = git@github.com:LuaDist/libjpeg.git
  branch = master
[submodule "giflib"]
  path = giflib
  url = git://git.code.sf.net/p/giflib/code
  branch = master
